[Unit]
Description=Monitor Sensors & Web Services
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/tmp
ExecStart=/usr/bin/sensor-monitor
Restart=on-abort

[Install]
WantedBy=multi-user.target
